$primary: #e50914;
$secondary: #ffffff;
$light: #232323;
$dark: #000000;


.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  }
  .tv-video {
    width: 460px;
    height: auto;
}

  
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";